<div class="jumbotron jumbotron-fluid" style="padding-top:0.5%; padding-bottom: 1%">
    <div class="container" style="max-width:1600px;" >
      <h1 class="display-5">About</h1>
      <div class ="row" >
        <div class = "col-md">
            <p class="lead" style="font-size:95%;">I am a current CSE student at ASU graduating in Spring 2019.<br>
              I have a passion for software and web development, and hope to pursue a career in the field. This is my personal website
              portfolio that showcases a couple of projects that I have worked on in school and in my free time. <br><br>
              This website was built using Angular7 and is still a work in progress. I will be continuously improving it and adding some Angular web apps
              as I learn more. 
            </p>
        </div>
        <div class = "col-4">
            <img src = "./assets/me.jpg" style ="width:60%; border-radius: 10%;" >
        </div>
      </div>        
        <hr>
      <a class="btn btn-primary btn-lg" href="https://github.com/ambui" role="button">My Github&#187;</a>
    </div>
</div>
