<div class="container" style="max-width:1300px; padding-top: 0.5%">
  <h1 class="display-5">Education</h1>
    <div class ="container lead box">
      <b>Arizona State University</b><br>
      &nbsp;&nbsp;&nbsp;&nbsp;<b>Bachelor of Science</b> - Computer Science<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<b>GPA: </b> 3.74<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<b>Graduation Date:</b> Spring 2019      
    </div>
</div>
<br><br>
<div class="container" style="max-width:1300px">
  <h1 class="display-5">Key Coursework</h1>
    <div class="container lead box">
      <div class="row" style="font-size:80%">
        <div class="col">
          <ul>
            <li>Object-Oriented Programming</li>
            <li>Service-Oriented Programming</li>
            <li>Data Structures/Algorithms</li>
          </ul>
        </div>
        <div class="col">
            <ul>
              <li>Database Management</li>
              <li>UX Design</li>
              <li>Mobile App Development</li>
            </ul>
          </div>
      </div>
    </div>
</div>
<br><br>
<div class="container" style="max-width:1300px;">
    <h1 class="display-5">Skills</h1>
      <div class="container lead box">
        <h5><b>Languages</b></h5>
        <div class="row" style="font-size:80%">
            <div class="col">
              <ul>
                <li>C++</li>
                <li>C#</li>
                <li>Java</li>
                <li>Javascript</li>
                <li>Python</li>
              </ul>
            </div>
            <div class="col">
                <ul>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>SQL</li>
                  <li>SWIFT</li>
                </ul>
              </div>
          </div>
          <h5><b>Frameworks</b></h5>
          <div class="row" style="font-size:80%">
              <div class="col">
                <ul>
                  <li>ASP.NET</li>
                  <li>Angular</li>
                </ul>
                </div>
          </div>
          <h5><b>Applications</b></h5>
          <div class="row" style="font-size:80%">
              <div class="col">
                <ul>
                  <li>Visual Studio</li>
                  <li>Eclipse</li>
                  <li>Linux OS</li>
                </ul>
              </div>
              <div class="col">
                  <ul>
                    <li>Git</li>
                    <li>XCode</li>
                    <li>Pycharm</li>
                  </ul>
                </div>
          </div>
      </div>
  </div>