<div class="container" style="max-width:1300px;">
    <h1 class="display-5">Work Experience</h1>
      <h2>Microchip Technology Inc.</h2>
      <div class="container">
          <div style="background-color: #0E4749">
              <div class="text">
                  <h5><b>Information Services</b> ... July 2018 – present </h5>
                  <b>Responsibilities:</b>
                  <ul> 
                      <li>BaaN: ERP system management</li>
                      <li>Update/Correct database with data from test engineers</li>
                  </ul>
                  <b>Projects:</b>
                  <ul> 
                      <li>Microsoft PowerBI: Cloud-Based Analytic Tool</li>
                      <ul>
                        <li>Wrote Perl scripts to extract data from Oracle Database into Excel Spreadsheets</li>
                        <li>Used PowerBI Automated Yield Data analysis tool for Product Engineer. Created standard yield
                            analysis templates (Final Test, Probe yield, Lot reject rate, Etc.)</li>
                      </ul>
                  </ul>
                </div>                                    
          </div>
          <div style="background-color: #7B9A9B">
              <div class="text">
                <h5><b>Web Tools</b> ... May 2017 – July 2018 </h5>
                <b>Responsibilities:</b>
                <ul> 
                    <li>Maintain and improve JIRAparser</li>                    
                </ul>
                <b>Projects</b>
                <ul> 
                    <li>JIRAparser</li>                    
                    <ul> 
                        <li>Data visualization tool for projects in JIRA</li>
                        <li>Pulls data from JIRA Rest API and internal product database</li>
                        <li>Written with Python, HTML, CSS, Javascript</li>                        
                        <li>Version controlled with CVS</li>
                    </ul>                        
                </ul>                
              </div>    
          </div>
          <div style="background-color: #D3DDDD">
                <div class="text">
                        <h5><b>Analog Design</b> ... May 2015 – May 2017 </h5>
                        <b>Responsibilities:</b>
                        <ul> 
                            <li>Performed leakage current characterization on new PAD designs using a TLP machine to detect and report
                                anomalies</li>
                            <li>Developed IBIS (I/O Buffer Information Specification) models for various packages to provide PAD behavior
                                for customer
                            </li>           
                        </ul>               
                      </div>    
          </div>
      </div>
      
</div>